<div class="header">
    <div class="titlebar">
        <div class="container-fluid">
            <div class="row">
                <div class="title pull-left">
                    悦文小说
                </div>
                <div class="title-nav pull-right">
                    <a href="#"><i class="iconfont icon-search"></i></a> |
                    <a href="#"><i class="glyphicon glyphicon-user"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="menubar">
        <div class="container-fluid">
            <ul class="menu row">
                <li class="active col-xs-3 text-center">首页<span class="arrow-up"></span></li>
                <li class="col-xs-3 text-center">分类<span class="arrow-up"></span></li>
                <li class="col-xs-3 text-center">排行榜<span class="arrow-up"></span></li>
                <li class="col-xs-3 text-center">书单<span class="arrow-up"></span></li>
            </ul>
        </div>
    </div>
</div>
