<div class="full panel panel-custom">
	<div class="panel-heading">
	    <span>男生生完本</span>
	</div>
	<div class="panel-body">
		<div class="filter">
			<a href="#" class="bg-blue">都市</a>
			<a href="#" class="bg-yellow">仙侠</a>
			<a href="#" class="bg-green">玄幻</a>
			<a href="#" class="bg-red">科幻</a>
		</div>
		<div class="book">
			<div class="thumb">
				<img src="images/recommend1.jpg" class="img-responsive"/>
			</div>
			<div class="caption">
				<div class="book-title">
					<h5>重生之异能王妃</h5><span class="label label-success">完结</span>
				</div>
				<p class="book-desc">
					一根铁索，一碗毒药，她被最新近的人联手逼入惨烈地狱。再次睁眼，她誓要将仇人踩在脚下.
				</p>
				<div class="book-other">
					<div class="pull-left">
					<span class="book-author">
						洛心辰
					</span>
					|
					<span class="book-hots">
						<em>4394</em>人气
					</span>
					</div>
					<span class="book-category pull-right">
						现代言情
					</span>
				</div>
				<div class="hr"></div>
			</div>
		</div>
		<div class="book without-thumb">
			<div class="caption">
				<div class="book-title">
					<span class="book-category">
						现代言情
					</span>
					<h5>重生之异能王妃</h5>
					<span class="book-author">
						洛心辰
					</span>
					<span class="book-hots">
						<em>4394</em>人气
					</span>
				</div>
				<p class="book-desc">
					一根铁索，一碗毒药，她被最新近的人联手逼入惨烈地狱。再次睁眼，她誓要将仇人踩在脚下.
				</p>
				<div class="hr"></div>
			</div>
		</div>
		<div class="book without-thumb">
			<div class="caption">
				<div class="book-title">
					<span class="book-category">
						现代言情
					</span>
					<h5>重生之异能王妃</h5>
					<span class="book-author">
						洛心辰
					</span>
					<span class="book-hots">
						<em>4394</em>人气
					</span>
				</div>
				<p class="book-desc">
					一根铁索，一碗毒药，她被最新近的人联手逼入惨烈地狱。再次睁眼，她誓要将仇人踩在脚下.
				</p>
				<div class="hr"></div>
			</div>
		</div>
	</div>
	<div class="panel-footer text-center">
		<a href="#">查看更多...</a>
	</div>
</div>
