<div class="panel panel-custom panel-vertical">
    <div class="panel-heading">
        <span>女生限免</span>
    </div>
    <div class="panel-body">
        <div class="book">
            <div class="thumb">
                <img src="images/recommend1.jpg" />
            </div>
            <div class="title">
                人民的名义
            </div>
        </div>
        <div class="book">
            <div class="thumb">
                <img src="images/recommend1.jpg" />
            </div>
            <div class="title">
                人民的名义
            </div>
        </div>
        <div class="book">
            <div class="thumb">
                <img src="images/recommend1.jpg" />
            </div>
            <div class="title">
                人民的名义
            </div>
        </div>
        <div class="book">
            <div class="thumb">
                <img src="images/recommend1.jpg" />
            </div>
            <div class="title">
                人民的名义
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <a href="#">查看更多...</a>
    </div>
</div>
