$white: #fff;
$gray-color0: #eee;
$gray-color1: #ccc;
$gray-color2: #999;
$gray-color3: #666;
$gray-color4: #333;

$body-background:#fbfaf8;
$body-font-family:HelveticaNeue-Light, 'Helvetica Neue Light', Arial, Sans-serif;
$body-color: $gray-color4;
$body-font-size: 10px;

$accent-color: #c33;

$accent-font-color: #eaa;
$accent-font-light-color: #b11;

$second-color: #ba7;

$header-titlebar-color:$accent-color;
$header-menubar-background: $accent-color;
$header-menubar-color: $accent-font-color;

$bg-blue: #8ce;
$bg-yellow: #eb7;
$bg-green: #6cb;
$bg-red: #e88;
